@model BDJ.Models.UsersIndexViewModel

@{
    ViewData["Title"] = "Index";
}
<div class="text-center">
    <h2>
        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        |
        Users
        |
        <a asp-area="" asp-controller="Line" asp-action="Index">Lines</a>
        |
        <a asp-area="" asp-controller="Train" asp-action="Index">Trains</a>
        |
        <form id="logoutForm" style="display: inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button class="underline-button" style="background: none; border: 0px solid white; color: #0366d6; font-weight: 500;" id="logout" type="submit"><a>Logout</a></button>
        </form>
    </h2>
</div>
<div>
    <a asp-area="" asp-controller="User" asp-action="Create">New</a>
</div>
<div class="table-responsive">
    <table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Username</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Admin</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (UserIndexViewModel user in Model.Users)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                @if (user.IsAdmin)
                {
                    <td>true</td>
                }
                else
                {
                    <td>false</td>
                }
                <td>
                    <a asp-action="Edit" asp-route-id="@user.Id">edit</a>
                    <a asp-action="Delete" asp-route-id="@user.Id">delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
